body,
html {
  margin: 0px;
  font-family: "Helvetica";
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* HEADER */

a {
  color: seashell;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 10px;
}

header {
  position: fixed;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* MAIN */

.main {
  width: 1200px;
  padding-top: 69px;
  margin: auto;
}

/* MISSION SEC */

#mission {
  height: 700px;
  background-image: url("images/img-mission-background.jpg");
  padding-top: 70px;
}

#mission .content {
  background-color: black;
  margin: auto;
  width: 100%;
}

/* STORE SEC */

#store {
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 70px;
}
.items {
  justify-content: center;
}
.item {
  padding: 5px;
}

.item img {
  display: block;
  justify-content: center;
  margin: 10px;
  height: 200px;
}

/* LOCATIONS SEC */

#locations {
  height: 500px;
  background-image: url("images/img-locations-background.jpg");
  margin: auto;
  padding-top: 70px;
}

.location {
  align-items: center;
  background-color: black;
  padding: 10px;
  margin: 15px 40px;
  flex-basis: 280px;
  opacity: 1;
}

/* CONTACT SEC */

#contact {
  height: 200px;
  margin: auto;
  padding-top: 70px;
}

/* FOOTER */

footer {
  margin: 20px;
  text-align: left;
}
