* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  background-image: url(/images/whale.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  text-align: center;
  padding: 50px;
}
header h1 {
  font-size: 3rem;
  text-shadow: 2px 3px aqua;
}

main {
  width: 90vw;
  margin: 0 auto;
  padding: 30px 20px;
  min-height: calc(100vh - 154px - 161px);
}
section {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  vertical-align: middle;
}

button {
  width: 7vw;
  height: 5vh;
  margin-left: 5px;
  border-radius: 5px;
  background-color: aqua;
}

footer {
  text-align: center;
  padding: 20px;
}
footer ul {
  list-style-type: none;
  margin: 20px auto;
  padding: 30px;
}

/*___ Classes ___*/

section.text-input {
  width: 55vw;
  height: 35vh;
}
.text-input label {
  margin: 0 20px;
}
.text-input input {
  width: 20vw;
  height: 5vh;
  border-radius: 5px;
  padding-left: 10px;
}

section.text-translation {
  width: 55vw;
  height: 25vh;
  /* background-color: rgb(73, 225, 230); */
  /* visibility: hidden; */
  text-align: center;
  overflow: scroll;
}
